<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ResortApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Allows a user to login to their respective home page</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.resort.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/resortLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginTest</display-name>
    <servlet-name>LoginTest</servlet-name>
    <servlet-class>com.resort.testing.LoginTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTest</servlet-name>
    <url-pattern>/LoginTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUsers</display-name>
    <servlet-name>GetUsers</servlet-name>
    <servlet-class>com.resort.servlets.GetUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsers</servlet-name>
    <url-pattern>/GetUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployees</display-name>
    <servlet-name>ViewEmployees</servlet-name>
    <servlet-class>com.resort.servlets.ViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployees</servlet-name>
    <url-pattern>/ViewEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReimbursements</display-name>
    <servlet-name>GetReimbursements</servlet-name>
    <servlet-class>com.resort.servlets.GetReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReimbursements</servlet-name>
    <url-pattern>/GetReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeReimbursements</display-name>
    <servlet-name>GetEmployeeReimbursements</servlet-name>
    <servlet-class>com.resort.servlets.GetEmployeeReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeReimbursements</servlet-name>
    <url-pattern>/GetEmployeeReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeReimbursements</display-name>
    <servlet-name>ViewEmployeeReimbursements</servlet-name>
    <servlet-class>com.resort.servlets.ViewEmployeeReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeReimbursements</servlet-name>
    <url-pattern>/ViewEmployeeReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.resort.servlets.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReimbursementWithReceipt</display-name>
    <servlet-name>SubmitReimbursementWithReceipt</servlet-name>
    <servlet-class>com.resort.servlets.SubmitReimbursementWithReceipt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimbursementWithReceipt</servlet-name>
    <url-pattern>/SubmitReimbursementWithReceipt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReimbursement</display-name>
    <servlet-name>AddReimbursement</servlet-name>
    <servlet-class>com.resort.servlets.AddReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReimbursement</servlet-name>
    <url-pattern>/AddReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDetailedReimbursement</display-name>
    <servlet-name>AddDetailedReimbursement</servlet-name>
    <servlet-class>com.resort.servlets.AddDetailedReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDetailedReimbursement</servlet-name>
    <url-pattern>/AddDetailedReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.resort.servlets.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatus</display-name>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>com.resort.servlets.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserLN</display-name>
    <servlet-name>UpdateUserLN</servlet-name>
    <servlet-class>com.resort.servlets.UpdateUserLN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserLN</servlet-name>
    <url-pattern>/UpdateUserLN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserEM</display-name>
    <servlet-name>UpdateUserEM</servlet-name>
    <servlet-class>com.resort.servlets.UpdateUserEM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserEM</servlet-name>
    <url-pattern>/UpdateUserEM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserPW</display-name>
    <servlet-name>UpdateUserPW</servlet-name>
    <servlet-class>com.resort.servlets.UpdateUserPW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserPW</servlet-name>
    <url-pattern>/UpdateUserPW</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatus</display-name>
    <servlet-name>ChangeStatus</servlet-name>
    <servlet-class>com.resort.servlets.ChangeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatus</servlet-name>
    <url-pattern>/ChangeStatus</url-pattern>
  </servlet-mapping>
</web-app>